
html {
    background: #222;
}

.books {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}

.books > div {
    display: inline-block;
    vertical-align: top;

    *display: inline;
    *zoom: 1;
}

.books .title, .books .author {
    font-size: 12px;
    display: none;
}

.books .title {
    font-weight: bold;
}

.books img {
    height: 400px;
}